
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md3">
                    <video width="200" height="200" autoplay loop muted>
                        <source src="lib/active/power.mp4"  type="video/mp4">
                        <source src="lib/active/"  type="video/ogg">
                        您的浏览器不支持 HTML5 video
                      </video>
                      <p>载入信息</p>
                </div>
                <div class="layui-col-md3">
                    <video width="200" height="200" autoplay loop muted>
                        <source src="lib/active/ready.mp4"  type="video/mp4">
                        <source src="lib/active/"  type="video/ogg">
                        您的浏览器不支持 HTML5 video
                      </video>
                      <p>准备就绪</p>
                </div>
                <div class="layui-col-md3">
                    <video width="200" height="200" autoplay loop muted>
                        <source src="lib/active/onplane.mp4"  type="video/mp4">
                        <source src="lib/active/"  type="video/ogg">
                        您的浏览器不支持 HTML5 video
                      </video>
                      <p>无人机起飞</p>
                </div>
                <div class="layui-col-md3">
                    <video width="200" height="200" autoplay loop muted>
                        <source src="lib/active/error.mp4"  type="video/mp4">
                        <source src="lib/active/"  type="video/ogg">
                        您的浏览器不支持 HTML5 video
                    </video>
                    <p>机场就绪</p>
                </div>
            </div>
        </div>
    </div>
</div>